/*Reset*/

body, h1, h2, p, ul, li, a{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	color: #222222;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a { 
text-decoration: none; 
color: #fff;
}

a:hover{
	color: #E9C59E;
}
img { 
	display: block;
	max-width: 100%;
}

h1 {
	font-family: 'Cardo', serif;
}

/*Superinfo*/

.superinfo-bg{
	background-color: #59403B;
	color: white;
}

.superinfo{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
}

.superinfo p, .superinfo a{
	margin: 0 10px 10px 10px;
}

.superinfo a {
	color: white;
}

/*Menu*/

.menu-bg{
	background-color: #A59182;
}

.menu{
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu a{
	color: white;
}

.menu-logo a{
	font-family: Elsie, serif;
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 10px;
}

.nav ul{
	display: flex;
	flex-wrap: wrap;
}

.nav a{
	font-size: .8em;
	letter-spacing: .1em;
	display: block;
	padding: 10px;
	text-transform: uppercase;
	color: white;
}

.nav a:hover{
	color: #E9C59E;
}

/*Intro*/

.intro{
	font-size: 3em;
	line-height: 1;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 10px;
}

h1.intro{
	padding-left: 25px;
}

/*About*/

.about{
	border-top: 2px dotted;
	border-bottom: 2px dotted;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}

.about-info{
	flex: 2 1 500px;
	margin: 0 10px;
}

.about-info h1{
	font-size: 3em;
	margin-bottom: .5em;
}

.about-info p{
	font-size: 1.2em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}

.about-img{
	flex: 1 1 380px;
	margin: 20px 10px 20px 5px;
}

/*Latest*/

.latest{
	border-bottom: 2px dotted;
	padding-bottom: 60px;
	max-width: 960px;
	margin: 60px auto;
	display: flex;
	flex-wrap: wrap;
}

.latest h1{
	font-size: 3em;
	margin-bottom: .5em;
	margin: 0 5px 20px 5px;
}

.latest h2{
	font-size: 1.2em;
	padding-top: 20px;
	margin-bottom: .5em;
}

.latest p{
	font-size: 1em;
	line-height: 1.4;
	margin: 10px 0 10px 0;
	color: #7c7c7c;
}

.latest a{
	font-size: 0.85em;
	font-weight: bold;
	text-transform: uppercase;
	color: #A59182;
	margin-bottom: 2em;
}

.latest a:hover{
	color: #E9C59E;
}

.latest-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 auto;
	align-items: flex-center;
}

.blog {
	flex: 1 1 250px;
	margin: 20px 10px 20px 5px;
	cursor: pointer;
}

/*Featured*/

.featured{
	max-width: 960px;
	margin: 60px auto;
}

.featured h1{
	font-size: 3em;
	margin: 0 5px 20px 5px;
}

.featured h2{
	font-size: 1.2em;
	margin: 10px auto;
}

.featured-container{
	flex: 1 1 200px;
	display: flex;
	flex-wrap: wrap;
}

.ft{
	flex: 1 1 200px;
	margin: 20px 10px 20px 5px;
	align-items: flex-center;
	cursor: pointer;
}


/*Recipes*/

.recipes{
	border-top: 2px dotted;
	padding: 60px 0;
	max-width: 960px;
	margin: 60px auto;
	display: flex;
	flex-wrap: wrap;
}

.recipes h1{
	font-size: 3em;
	margin-bottom: .5em;
	margin: 0 5px 30px 5px;
}

.recipes h2{
	font-size: 1.2em;
	padding-top: 20px;
	margin-bottom: .5em;
}

.recipes p{
	font-size: 1em;
	line-height: 1.4;
	margin: 10px 0 10px 0;
	color: #7c7c7c;
}

.recipes a{
	font-size: 0.85em;
	font-weight: bold;
	text-transform: uppercase;
	color: #A59182;
	margin-bottom: 2em;
}

.recipes a:hover{
	color: #E9C59E;
}

.recipes-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 auto;
	align-items: flex-center;
}

.recipe {
	flex: 1 1 250px;
	margin: 20px 10px 20px 5px;
}

/*Footer*/

.footer{
	background: #59403B;
	color: white;
	display: flex;
	flex-wrap: wrap;
	height: 25px;
	align-items: center;	
	padding: 40px 10px 40px 10px;
}

.footer p{
	font-size: 1em;
	line-height: 1;
	margin: 0 auto;
	color: white;
}

@media screen and (max-width: 1000px) {

.superinfo-bg{
	padding: 0 10px;
}

.menu-bg{
	padding: 0 10px;
}

.intro{
	margin: -15px -5px;
}

.about{
	margin: -10px 10px;
}

.latest{
	margin: 60px 10px;
}

.featured{
	margin: 60px 10px;
}

.recipes{
	margin: 0 10px;
}

}
